<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- fontes externas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
</head>
<body>
    <app-navbar></app-navbar>
    <div class ="container">
            <section class ="info_superior">
                <div class ="titulo">
                    <h1>Termos</h1>
                    <p>Qual termo gostaria de acessar hoje?</p>
                </div>
                <button class  ="botao-topvei">
                    <img class ="img-botao" src="https://i.imgur.com/bQ3uNei.png">
                    <p>Adicionar Turma</p>
                </button> 
            </section>
            <section class ="d-flex justify-content-center " style="margin: 0px; padding: 0px;">
                <div class ="blocos container d-flex flex-column" style="margin:0px; padding: 0px;">
                    <div class ="row justify-content-between " style="margin: 0px;">
                        <div class ="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5" style="padding: 0px; ">
                            <div class ="bloco" style="background-color:#E2F4C5; width: 90%; height: 150px; border-radius: 8px ; box-shadow: 4px 2px 2px #0000002b; font-size: 40px; font-weight: 500px; display: flex; align-items: center;justify-content: center;margin-bottom: 0px;">
                                <p>1° Termo</p>
                            </div>
                        </div>
                        <div class ="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5" style="padding: 0px;">
                            <div class ="bloco" style="background-color:#EEE7DA;width: 90%; height: 150px; border-radius: 8px ; box-shadow: 4px 2px 2px #0000002b; font-size: 40px; font-weight: 500px; display: flex; align-items: center;justify-content: center;margin-bottom: 0px;">
                                <p>2° Termo</p>
                            </div>
                        </div>
                        <div class ="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5" style="padding: 0px;">
                            <div class ="bloco" style="background-color:#A5DD9B;width: 90%; height: 150px; border-radius: 8px ; box-shadow: 4px 2px 2px #0000002b; font-size: 40px; font-weight: 500px; display: flex; align-items: center;justify-content: center;margin-bottom: 0px;">
                                <p>3° Termo</p>
                            </div>
                        </div>
                    </div>
            
                    <div class ="row justify-content-between">
                        <div class ="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5"style="padding: 0px;">
                            <div class ="bloco" style="background-color:#C5EBAA;width: 90%; height: 150px; border-radius: 8px ; box-shadow: 4px 2px 2px #0000002b; font-size: 40px; font-weight: 500px; display: flex; align-items: center;justify-content: center;margin-bottom: 0px;">
                                <p>4° Termo</p>
                            </div>
                        </div>
                        <div class ="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5" style="padding: 0px;">
                            <div class ="bloco" style="background-color:#FFFFDD;width: 90%; height: 150px; border-radius: 8px ; box-shadow: 4px 2px 2px #0000002b; font-size: 40px; font-weight: 500px; display: flex; align-items: center;justify-content: center; margin-bottom: 0px;">
                                <p>5° Termo</p>
                            </div>
                        </div>
                        <div class ="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5 " style="padding: 0px;">
                            <div class ="bloco" style="background-color:#AFC8AD;width: 90%; height: 150px; border-radius: 8px ; box-shadow: 4px 2px 2px #0000002b; font-size: 40px; font-weight: 500px; display: flex; align-items: center;justify-content: center; margin-bottom: 0px;">
                                <p>6° Termo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>
</body> 
</html>