@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
}
.container{
    display: flex;
    align-items: center;
}
label {
    color: #858E97;
}
.imagem_principal img{
    width: 600px;
    height: 600px;
    margin-left: 130px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 110px;
    gap: 10px;
    
    .sessao_logo{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            margin: 0px;
            font-size: 24px;
            font-weight: 600px;
        }
        img{
            margin-bottom: 20px;
        }
    }
    
    .campo{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 78px;
        

        label{
            padding: 0px;
            font-weight: 400px;
            font-size: 16px;
        }
        input{
            width: 400px;
            height: 48px;
            border-radius: 5px;
            border: 2px solid #cdd4DA;
            padding-top:  10px;
            // padding-right: 16px;
            padding-bottom: 10px;
            padding-left: 10px;
            margin-bottom: 20px;
        }
        input::placeholder{
            color:#cdd4DA;
            font-size: 16px;
        }
        
    }
    button{
        display: flex;
        justify-content: center;
        width: 412px;
        height: 40px;
        border-radius: 8px;
        border-color: #21BC6B;
        border-style: none;
        background-color: #21BC6B;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        color: white;
        font-weight: 700;
        font-size: 16px;
    }
    .cadastre_se{
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: 400px;
    }
    .cadastre_se p{
        color: #858E97
    }
    .cadastre_se a{
        color: #21BC6B;
        text-decoration: none;
    }
}
@media (max-width: 768px) {
    .imagem_principal {
        display: none; 
    }

    .container {
        margin-top: 13vh;
        padding: 15px;
        display: flex;
        justify-content: flex-end;
    }

    form {
        width: 100%;
    }

    .campo input {
        width: 30vh !important;
    }

    button {
        width: 30vh !important;
    }

    .link_cadastro{
        font-size: 1.4vh;
    }
}

@media (max-width: 480px) {
    .imagem_principal {
        display: none; 
    }

    .sessao_logo h1 {
        font-size: 20px;
    }

    .campo input {
        font-size: 14px;
    }

    button {
        height: 50px;
        font-size: 14px;
    }
}